@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Poppins';
}

.app {
  width: 100%;
  height: 100%;
}